<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/static/img/favicon.png">
  {% block css %}
  {% endblock %}
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>
  <title>{% block title %}title{% endblock %} - TUNA 弹幕站</title>
</head>
<body>
{% block body %}
{% endblock %}
{% block js%}
{% endblock %}

</body>
</html>
{#
vim: ft=jinja
#}
