<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js">
  <link rel="shortcut icon" href="/static/img/favicon.png">
  {% block css %}
  {% endblock %}
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <title>{% block title %}title{% endblock %} - TUNA 弹幕站</title>
</head>
<body>
<div class="container-fluid">
{% block body %}
{% endblock %}

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr />
    <div class="text-center">
      <div>Source code available under GPLv3 at <a href="https://github.com/tuna/gdanmaku-server">https://github.com/tuna/gdanmaku-server</a> </div>
      <div>Copyright &copy; TUNA </div>
    </div>
  </div>
</div>
</div>

{% block js%}
{% endblock %}

</body>
</html>
{#
vim: ft=jinja
#}
