{% extends "base.html" %}
{% block title %}{{channel.desc}}{% endblock %}

{% block body %}
<div class="row">
	{% if language == "zh_CN" %}
		{% include "zh_CN/channel.html"%}
	{% else %}
		{% include "en/channel.html"%}
	{% endif %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

$(document).ready(function() {
  var pub_passwd = "{{passwd}}", token=$("#token").text();
  $('#token').remove();
  console.log(token);

  if($("#set-password").length > 0) {
    $("#set-password").click(function() {
      pub_passwd = $("#pub_password").val(); 
      $("#set-password-form").addClass("hide");
    });
  }

  var show_error = function(msg) {
    $("#error_container").html("<div class='alert alert-danger'>" + msg + "</div>"); 
  };


  $('form').submit(function() {

    var data = JSON.stringify({
      content: $("#danmaku").val(),
      position: $("#position-selection input:checked").val(),
      color: $("#color-selection input:checked").val()
    });

    // console.log(data);
    console.log(pub_passwd);
    $.ajax({
      type: "POST",
      dataType: "json",
      headers: {
        "Content-Type": "application/json",
        "X-GDANMAKU-AUTH-KEY": pub_passwd,
        "X-GDANMAKU-TOKEN": "WEB:" + token
      },
      url: $('#post-danmaku').attr("action"),
      data: data,
      success: function(data){ 
        $("#danmaku").val(""); 
        token = data.token;
      },
      statusCode: {
        403: function() {
          show_error("密码有误，请刷新重设！");
        }
      }
    });

    return false; 
  });

});

</script>
{% endblock %}

{% block css %}
<style type="text/css">
body {
  padding-top: 40px; 
} 
.label.label-white {
  background: #fff;
  border: 1px solid #666;
  color: #666; 
}
.label.label-blue {
  background-color: #145fc6;
}
.label.label-red {
  background-color: #e72200;
}
.label.label-green {
  background-color: #04ca00;
}
.label.label-cyan {
  background-color: #0ff;
  color: #666; 
}
.label.label-yellow {
  background-color: #fffa00;
  color: #666; 
}
.label.label-purple {
  background-color: #808;
}
.label.label-black {
  background-color: #000;
}
</style>
{% endblock %}


{#
vim: ft=jinja
#}
