{% extends "base.html" %}
{% block title %}{{channel.desc}}{% endblock %}

{% block body %}
<div class="row" id="danmaku-channel">
	<div class="col-md-8 col-md-offset-2">
		<h2>{{channel.desc}}</h2>
		{% if not channel.is_open and not passwd %}
		<form class="form-inline" role="form" @submit="set_passwd" v-show="!pub_passwd">
			<div class="form-group">
				<input type="password" class="form-control" v-model="pub_passwd_buf" placeholder="{{_('Channel Password')}}">
				<div class="btn btn-success" @click="set_passwd">{{_('Save')}}</div>
			</div>
		</form>
		{% endif %}

		{% raw %}
		<div v-show="error_msg">
			<div class='alert alert-danger'>{{error_msg}}</div>
		</div>
		{% endraw %}
	
		{# QR code #}
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				<span class="glyphicon glyphicon-qrcode"></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li>
					<div id="qrcode"></div>
					<script type="text/javascript">new QRCode(document.getElementById("qrcode"), document.URL);</script>
				</li>
			</ul>
		</div>
		<div id="token">{{token}}</div>
		
		{# danmaku form #}
		<form @submit="post_danmaku">
			<div class="form-group" id="position-selection">
				<label for="position">{{_('Position')}}</label>
				<div>
					<label class="radio-inline">
						<input type="radio" name="position" value="fly" v-model="position" checked> {{_('Fly')}}
					</label>
					<label class="radio-inline">
						<input type="radio" name="position" value="top" v-model="position"> {{_('Top')}}
					</label>
					<label class="radio-inline">
						<input type="radio" name="position" value="bottom" v-model="position"> {{_('Bottom')}}
					</label>
				</div>
			</div>

			<div class="form-group" id="color-selection">
				<label for="style">{{_('Color')}}</label>
				<div>
					<label class="radio-inline">
						<input type="radio" name="style" value="blue" v-model="color" checked>
						<span class="label label-blue">{{_('blue')}}</span>
					</label>
					<label class="radio-inline">
						<input type="radio" name="style" value="white" v-model="color">
						<span class="label label-white">{{_('white')}}</span>
					</label>
					<label class="radio-inline">
						<input type="radio" name="style" value="red" v-model="color">
						<span class="label label-red">{{_('red')}}</span>
					</label>
					<label class="radio-inline">
						<input type="radio" name="style" value="yellow" v-model="color">
						<span class="label label-yellow">{{_('yellow')}}</span>
					</label>
					<label class="radio-inline">
						<input type="radio" name="style" value="cyan" v-model="color">
						<span class="label label-cyan">{{_('cyan')}}</span>
					</label>
					<label class="radio-inline">
						<input type="radio" name="style" value="green" v-model="color">
						<span class="label label-green">{{_('green')}}</span>
					</label>
					<label class="radio-inline">
						<input type="radio" name="style" value="purple" v-model="color">
						<span class="label label-purple">{{_('purple')}}</span>
					</label>
					<label class="radio-inline">
						<input type="radio" name="style" value="black" v-model="color">
						<span class="label label-black">{{_('black')}}</span>
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="danmaku">{{_('Content')}}</label>
				<input type="text" class="form-control" name="content" autocomplete="off" v-model="content" placeholder="{{_('Write Danmaku Content Here')}}">
			</div>

			<input type="submit" class="btn btn-success" value="{{_('Shoot!')}}" :disabled="disabled" />
		</form>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

$(document).ready(function() {
	var channelVue = new Vue({
		el: "#danmaku-channel",
		data: {
			content: "",
			position: "",
			color: "",
			error_msg: "",
			pub_passwd_buf: "",
			pub_passwd: "{{passwd}}",
			token: $("#token").remove().text(),
			disabled: false
		},
		methods: {
			post_danmaku: function(ev){
				ev.preventDefault();
				this.disabled = true;
				var data = JSON.stringify({
					content: this.content,
					color: this.color,
					position: this.position
				});
				$.ajax({
					type: "POST",
					dataType: "json",
					headers: {
						"Content-Type": "application/json",
						"X-GDANMAKU-AUTH-KEY": this.pub_passwd,
						"X-GDANMAKU-TOKEN": "WEB:" + this.token
					},
					url: "{{ url_for('api_post_danmaku', cname=channel.name) }}",
					data: data,
					success: function(data) { 
						channelVue.token = data.token;
						channelVue.content = "";
						channelVue.disabled = false;
					},
					statusCode: {
						403: function() {
							channelVue.show_error("{{_('Wrong password, refresh the page to reset!')}}");
						},
						428: function() {
							channelVue.show_error("{{_('You are operating too fast, calm down and refresh the page!')}}");
						},
						400: function() {
							channelVue.show_error("{{_('Invalid request, refresh the page and retry!')}}");
						}
					}
				});
			}, // post_danmaku
			set_passwd: function(ev) {
				ev.preventDefault();
				this.pub_passwd = this.pub_passwd_buf;
			},
			show_error: function(msg) {
				this.error_msg = msg;
			},
		}
	});

});

</script>
{% endblock %}

{% block css %}
<style type="text/css">
body {
	padding-top: 40px; 
} 
#qrcode {
	padding: 20px;
}
.label.label-white {
	background: #fff;
	border: 1px solid #666;
	color: #666; 
}
.label.label-blue {
	background-color: #145fc6;
}
.label.label-red {
	background-color: #e72200;
}
.label.label-green {
	background-color: #04ca00;
}
.label.label-cyan {
	background-color: #0ff;
	color: #666; 
}
.label.label-yellow {
	background-color: #fffa00;
	color: #666; 
}
.label.label-purple {
	background-color: #808;
}
.label.label-black {
	background-color: #000;
}
</style>
{% endblock %}


{#
vim: ft=jinja sw=2 ts=2 sts=2
#}
