{% extends "base.html" %}
{% block title %}{{channel.desc}} 弹幕审核{% endblock %}

{% block body %}
<div class="row" id="danmaku-exam">
	<div class="col-md-8 col-md-offset-2">
		<h2>{{channel.desc}} 弹幕审核</h2>
		{% if not passwd %}
		<form class="form-inline" role="form" id="set-password-form">
			<div class="form-group">
				<input type="password" class="form-control" id="exam_password" placeholder="审核密码">
				<div class="btn btn-success" id="set-password">保存密码</div>
			</div>
		</form>
		{% endif %}
		<div id="error_container">
		</div>
		{% raw %}
		<div>
			<div class="row" v-for="dm in danmakus" track-by="id">
				<div class="danmaku">
					<div class="col-md-1 text-left">
						<div class="btn btn-success" @click="post_danmaku($index)">
							✓
						</div>
					</div>
					<div class="col-md-10 danmaku-text">
						{{ dm.content }}
					</div>
					<div class="col-md-1"></div>
						<div class="btn btn-danger" @click="ignore_danmaku($index)">
							&times;
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endraw %}

		{#
		<form id="post-danmaku" action="{{ url_for('api_post_danmaku', cname=channel.name) }}" method="post" role="form">
			<div class="form-group">
				<label for="danmaku">弹幕内容</label>
				<input type="text" class="form-control" id="danmaku" name="content" autocomplete="off" placeholder="在此填写弹幕">
			</div>

			<input type="submit" class="btn btn-success" value="发射弹幕" />
		</form>
		#}
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

$(document).ready(function() {
	var exam_passwd = "{{passwd}}";
	
	if($("#set-password").length > 0) {
		$("#set-password").click(function() {
			exam_passwd = $("#exam_password").val(); 
			$("#set-password-form").addClass("hide");
			window.setTimeout(window.pull_danmaku, 50);
		});
	}

	var show_error = function(msg) {
		$("#error_container").html("<div class='alert alert-danger'>" + msg + "</div>"); 
	};


	var post_danmaku = function(danmaku) {

		// console.log(data);
		// console.log(pub_passwd);
		$.ajax({
			type: "POST",
			dataType: "json",
			headers: {
				"Content-Type": "application/json",
				"X-GDANMAKU-EXAM-KEY": exam_passwd
			},
			url: "{{ url_for('api_post_danmaku', cname=channel.name) }}",
			data: JSON.stringify(danmaku),
			success: function(resp){ 
				console.log("posted");
			},
			statusCode: {
				403: function() {
					show_error("密码有误，请刷新重设！");
				}
			}
		});

		return false; 
	};
	
	var danmakuData = {
		current_id: 0,
		danmakus: []
	}

	var new_danmaku = function(danmaku) {
		danmakuData.current_id++;
		danmaku.id = danmakuData.current_id;
		danmakuData.danmakus.push(danmaku);
	}
	
	var danmakuVue = new Vue({
		el: "#danmaku-exam",
		data: danmakuData,
		methods: {
			post_danmaku: function(idx) {
				// console.log(idx);
				var dm = this.danmakus[idx];
				this.danmakus.splice(idx, 1);
				post_danmaku(dm);
			},
			ignore_danmaku: function(idx) {
				this.danmakus.splice(idx, 1);
			}
		}
	});

	window.pull_danmaku = function() {
		console.log("polling danmaku");
		$.ajax({
			type: "GET",
			dataType: "json",
			headers: {
				"Content-Type": "application/json",
				"X-GDANMAKU-EXAM-KEY": exam_passwd
			},
			url: "{{ url_for('api_danmaku_to_exam', cname=channel.name)}}",
			success: function(resp) {
				$.each(resp, function(i, dm){
					console.log(dm);
					var danmaku = {
						'content': dm.text,
						'color': dm.style,
						'position': dm.position
					}
					new_danmaku(danmaku);
					// post_danmaku(danmaku);
				});
				// post_danmaku(resp[0]);
				window.setTimeout(window.pull_danmaku, 0);
			},
			statusCode: {
				403: function() {
					show_error("密码有误，请刷新重设！");
				}
			}
		});
	}
	
	console.log(exam_passwd);
	if (exam_passwd) {
		window.setTimeout(window.pull_danmaku, 50);
	}

});

</script>
{% endblock %}

{% block css %}
<style type="text/css">
body {
  padding-top: 40px; 
}
.danmaku-text {
	font-size: 2em;
}
</style>
{% endblock %}


{#
vim: ft=jinja
#}
