{% extends "base.html" %}
{% block title %} 
{% if language == "zh_CN" %}创建列表{% else %}New Channel{% endif %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
	{% if language == "zh_CN" %}
		{% include "zh_CN/new_channel.html"%}
	{% else %}
		{% include "en/new_channel.html"%}
	{% endif %}
  </div>
</div>


{% endblock %}

{% block css %}
<style type="text/css">
body {
  padding-top: 40px; 
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
  var show_error = function(msg) {
    $("#error_container").html("<div class='alert alert-danger'>" + msg + "</div>"); 
  };

  var validate = function() {
    var valid = true;
    var namer = /^[a-zA-Z][a-zA-Z0-9_\-]{1,}$/;

    if(!$("#name").val().match(namer)) {
      show_error("频道名称有误！"); 
      return false;
    }
    if($("#desc").val() == "") {
      show_error("频道说明必填！");
      return false;
    }
    if($("#sub_passwd").val() == "") {
      show_error("播放密码必填！");
      return false;
    }

    return valid;
  };

  $('#submit').click(function(){
    if (validate() == false) {
      return;
    }

    $.ajax({
      type: "POST",
      url: "{{ url_for('api_create_channel') }}",
      headers: {"Content-Type": "application/json"},
      data: JSON.stringify({
        "name": $("#name").val(),
        "desc": $("#desc").val(),
        "ttl": $("form input[name=ttl]:checked").val(),
        "sub_passwd": $("#sub_passwd").val(),
        "pub_passwd": $("#pub_passwd").val(),
        "exam_passwd": $("#exam_passwd").val()
      }),
      success: function(data) {
        document.location.href = data.url; 
      },
      error: function(jqxhr, text) {
        show_error(jqxhr.responseText);
      }
    }); 

  });


});
</script>
{% endblock %}
{#
vim: ft=jinja
#}
