<div class="col-md-8 col-md-offset-2">
<h2>{{channel.desc}}</h2>
{% if not channel.is_open and not passwd %}
<form class="form-inline" role="form" id="set-password-form">
	<div class="form-group">
		<label class="sr-only" for="pub_passwd">Channel Password: </label>
		<input type="password" class="form-control" id="pub_password" placeholder="频道密码">
		<div class="btn btn-success" id="set-password">Save</div>
	</div>
</form>
{% endif %}
<div id="error_container">
</div>
<div id="token">{{token}}</div>
<form id="post-danmaku" action="{{ url_for('api_post_danmaku', cname=channel.name) }}" method="post" role="form">

	<div class="form-group" id="position-selection">
		<label for="position">Position</label>
		<div>
			<label class="radio-inline">
				<input type="radio" name="position" value="fly" checked> Fly
			</label>
			<label class="radio-inline">
				<input type="radio" name="position" value="top"> Top
			</label>
			<label class="radio-inline">
				<input type="radio" name="position" value="bottom"> Bottom
			</label>
		</div>
	</div>

	<div class="form-group" id="color-selection">
		<label for="style">Color</label>
		<div>
			<label class="radio-inline">
				<input type="radio" name="style" value="blue" checked>
				<span class="label label-blue">blue</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="style" value="white"> 
				<span class="label label-white">white</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="style" value="red">
				<span class="label label-red">red</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="style" value="yellow">
				<span class="label label-yellow">yellow</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="style" value="cyan">
				<span class="label label-cyan">cyan</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="style" value="green">
				<span class="label label-green">green</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="style" value="purple">
				<span class="label label-purple">purple</span>
			</label>
			<label class="radio-inline">
				<input type="radio" name="style" value="black">
				<span class="label label-black">black</span>
			</label>
		</div>
	</div>

	<div class="form-group">
		<label for="danmaku">Content</label>
		<input type="text" class="form-control" id="danmaku" name="content" autocomplete="off" placeholder="Write Danmaku Content Here"> 
	</div>

	<input type="submit" class="btn btn-success" value="Shoot!" />
</form>  
</div> 

{#
vim: ft=jinja ts=2 sts=2 sw=2
#}
