<h2>Channel List</h2>
<div>
	<table class="table table-responsive">
		<thead>
			<th> Name </th>
			<th> Description </th>
		</thead>
		<tbody>
			{%- for chan in channels %}
			<tr>
				<td><a href="{{ url_for("channel_view", cname=chan.name) }}">{% if not chan.is_open %}<i class="glyphicon glyphicon-lock"></i>{% endif %} {{ chan.name }}</a> </td>
				<td>{{ chan.desc }}</td>
			</tr>
			{% endfor -%}
		</tbody>
	</table>
	<a class="btn btn-success" href="{{ url_for("channel_create") }}">New Channel</a>
</div>

{#
vim: ft=jinja ts=2 sts=2 sw=2
#}
