<h2>New Channel</h2>
<div>
	<div id="error_container">
	</div>
	<div class="alert alert-info">
		<p><strong>Help:</strong></p>
		<ul>
			<li>Channel name must only contain letters, numbers, dash and underline, and must starts with a letter</li>
			<li>Playing password is requered, publish and review password are optional</li>
		</ul>
	</div>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Channel Name</label>
			<div class="col-sm-10">
				<input autocomplete="off" type="text" class="form-control" name="name" id="name" placeholder="Channel Name(letters, numbers, dash, underline)">
			</div>
		</div>
		<div class="form-group">
			<label for="desc" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-10">
				<input autocomplete="off" type="text" class="form-control" id="desc" name="desc" placeholder="Short text for description">
			</div>
		</div>
		<div class="form-group">
			<label for="sub_passwd" class="col-sm-2 control-label">Playing Password</label>
			<div class="col-sm-10">
				<input autocomplete="off" type="password" class="form-control" id="sub_passwd" name="sub_passwd" placeholder="Password for playing danmaku (required)">
			</div>
		</div>
		<div class="form-group">
			<label for="pub_passwd" class="col-sm-2 control-label">Publish Password</label>
			<div class="col-sm-10">
				<input autocomplete="off" type="password" class="form-control" id="pub_passwd" name="pub_passwd" placeholder="Password for publishing danmaku (optional)">
			</div>
		</div>
		<div class="form-group">
			<label for="pub_passwd" class="col-sm-2 control-label">Review Password</label>
			<div class="col-sm-10">
				<input autocomplete="off" type="password" class="form-control" id="exam_passwd" name="exam_passwd" placeholder="If contents need reviewing, fill this password (optional)">
			</div>
		</div>
		<div class="form-group">
			<label for="ttl" class="col-sm-2 control-label">Channel Lifetime</label>
			<div class="col-sm-10" id="ttl-selection">
				<label class="radio-inline">
					<input type="radio" name="ttl" value="1" checked> 1 Hour
				</label>
				<label class="radio-inline">
					<input type="radio" name="ttl" value="2"> 2 Hours
				</label>
				<label class="radio-inline">
					<input type="radio" name="ttl" value="3"> 3 Hours
				</label>
				<label class="radio-inline">
					<input type="radio" name="ttl" value="5"> 5 Hours
				</label>
				<label class="radio-inline">
					<input type="radio" name="ttl" value="12"> 12 Hours
				</label>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<div class="btn btn-default btn-success" id="submit">Submit</div>
			</div>
		</div>
	</form>
</div>
{#
vim: ft=jinja ts=2 sts=2 sw=2
#}
