<h2>频道列表</h2>
<div>
	<table class="table table-responsive">
		<thead>
			<th> 名称 </th>
			<th> 说明 </th>
			<th> 选项 </th>
		</thead>
		<tbody>
			{%- for chan in channels %}
			<tr>
				<td><a href="{{ url_for("channel_view", cname=chan.name) }}">{% if not chan.is_open %}<i class="glyphicon glyphicon-lock"></i>{% endif %} {{ chan.name }}</a> </td>
				<td>{{ chan.desc }}</td>
				<td>{% if chan.need_exam %}<a href="{{url_for("channel_examination_view", cname=chan.name)}}">审核</a>{% endif %}</td>
			</tr>
			{% endfor -%}
		</tbody>
	</table>
	<a class="btn btn-success" href="{{ url_for("channel_create") }}">创建频道</a>
</div>

{#
vim: ft=jinja ts=2 sts=2 sw=2
#}
